<form id="options" class="flc-prefsEditor-scrollContainer fl-prefsEditor">
    <div>
        <ul class="fl-prefsEditor-panels">
            <li class="flc-prefsEditor-panel fl-prefsEditor-panel"><div class="uioPlusJS-prefsEditor-text-size"></div></li>
            <li class="flc-prefsEditor-panel fl-prefsEditor-panel"><div class="uioPlusJS-prefsEditor-char-space"></div></li>
            <li class="flc-prefsEditor-panel fl-prefsEditor-panel"><div class="uioPlusJS-prefsEditor-word-space"></div></li>
            <li class="flc-prefsEditor-panel fl-prefsEditor-panel"><div class="uioPlusJS-prefsEditor-line-space"></div></li>
            <li class="flc-prefsEditor-panel fl-prefsEditor-panel"><div class="uioPlusJS-prefsEditor-syllabification"></div></li>
            <li class="flc-prefsEditor-panel fl-prefsEditor-panel"><div class="uioPlusJS-prefsEditor-contrast"></div></li>
            <li class="flc-prefsEditor-panel fl-prefsEditor-panel"><div class="uioPlusJS-prefsEditor-clickToSelect"></div></li>
            <li class="flc-prefsEditor-panel fl-prefsEditor-panel"><div class="uioPlusJS-prefsEditor-selectionHighlight"></div></li>
            <li class="flc-prefsEditor-panel fl-prefsEditor-panel"><div class="uioPlusJS-prefsEditor-selfVoicing"></div></li>
            <li class="flc-prefsEditor-panel fl-prefsEditor-panel"><div class="uioPlusJS-prefsEditor-simplify"></div></li>
            <li class="flc-prefsEditor-panel fl-prefsEditor-panel"><div class="uioPlusJS-prefsEditor-layout-controls"></div></li>
            <li class="flc-prefsEditor-panel fl-prefsEditor-panel"><div class="uioPlusJS-prefsEditor-enhanceInputs"></div></li>
        </ul>
    </div>
</form>
