
uioPlus-stylus-selection(selector, theme) {
    {selector} {
        &::selection,
        & *::selection {
            background-color: theme.backgroundColor !important;
            color: theme.foregroundColor !important;
        }

        &a::selection,
        &a *::selection,
        & a::selection,
        & a *::selection {
            color: theme.linkColor  !important;
        }
    }
}

uioPlus-stylus-selectionPreview(selector, theme) {
    {selector} {
        &,
        & * {
            background-color: theme.backgroundColor;
            color: theme.foregroundColor
        }
    }
}

uioPlus-stylus-selectionThemes(selectionThemes) {
    for selector in selectionThemes {
        uioPlus-stylus-selection(selector, selectionThemes[selector]);
    }
}

uioPlus-stylus-selectionPreviewThemes(selectionThemes) {
    for selector in selectionThemes {
        uioPlus-stylus-selectionPreview(selector, selectionThemes[selector]);
    }
}
